# **INTERVIEW QUESTION**
## **WE HAVE 2 TABLE EMPLOYEE AND DEPARTMENT TABLE IS GIVEN**
1. WE HAVE TO FIND THE HIGHEST SALARY BASED ON EACH DEPARTMENT NAME
2. WE HAVE TO FIND THE EMPLOYEE WHO IS GETTING HIGHEST SALARY BASED ON EACH DEPARTMENT NAME
3. WE HAVE TO FIND THE lowest SALARY BASED ON EACH DEPARTMENT NAME
4. WE HAVE TO FIND THE EMPLOYEE WHO IS GETTING lowest SALARY BASED ON EACH DEPARTMENT NAME

**SOLVE USING PYSPARK AND SPARK SQL**

In [0]:
emp_data=[('Manish' , 1 , 75000),
('Raghav' , 1 , 85000 ),
('surya' , 1 , 80000 ),
('virat' , 2 , 70000),
('rohit' , 2 , 75000),
('jadeja' , 3 , 85000),
('anil' , 3 , 55000),
('sachin' , 3 , 55000),  
('zahir', 4, 60000),
('bumrah' , 4 , 65000) ]
schema= ["emp_name" ,"dept_id" ,"salary"]

emp_df=spark.createDataFrame(emp_data,schema)
emp_df.show()

dept_data = [(1, 'DATA ENGINEER'),(2, 'SALES'),(3, 'SOFTWARE'),(4, 'HR')]
schema1=['dept_id','dept_name']

dept_df=spark.createDataFrame(dept_data,schema1)
dept_df.show()

+--------+-------+------+
|emp_name|dept_id|salary|
+--------+-------+------+
|  Manish|      1| 75000|
|  Raghav|      1| 85000|
|   surya|      1| 80000|
|   virat|      2| 70000|
|   rohit|      2| 75000|
|  jadeja|      3| 85000|
|    anil|      3| 55000|
|  sachin|      3| 55000|
|   zahir|      4| 60000|
|  bumrah|      4| 65000|
+--------+-------+------+

+-------+-------------+
|dept_id|    dept_name|
+-------+-------------+
|      1|DATA ENGINEER|
|      2|        SALES|
|      3|     SOFTWARE|
|      4|           HR|
+-------+-------------+

In [0]:
emp_df.join(dept_df,emp_df.dept_id==dept_df.dept_id,'left').show()

+--------+-------+------+-------+-------------+
|emp_name|dept_id|salary|dept_id|    dept_name|
+--------+-------+------+-------+-------------+
|  Manish|      1| 75000|      1|DATA ENGINEER|
|  Raghav|      1| 85000|      1|DATA ENGINEER|
|   surya|      1| 80000|      1|DATA ENGINEER|
|   virat|      2| 70000|      2|        SALES|
|   rohit|      2| 75000|      2|        SALES|
|  jadeja|      3| 85000|      3|     SOFTWARE|
|    anil|      3| 55000|      3|     SOFTWARE|
|  sachin|      3| 55000|      3|     SOFTWARE|
|   zahir|      4| 60000|      4|           HR|
|  bumrah|      4| 65000|      4|           HR|
+--------+-------+------+-------+-------------+

In [0]:
from pyspark.sql.functions import *
df = emp_df.join(dept_df,emp_df.dept_id==dept_df.dept_id,'left')
df.groupBy("dept_name").agg(max("salary").alias('max_sal')).show()

+-------------+-------+
|    dept_name|max_sal|
+-------------+-------+
|DATA ENGINEER|  85000|
|        SALES|  75000|
|     SOFTWARE|  85000|
|           HR|  65000|
+-------------+-------+

In [0]:
df1 = df.groupBy("dept_name").agg(max("salary").alias('max_sal'))
df1.show()

+-------------+-------+
|    dept_name|max_sal|
+-------------+-------+
|DATA ENGINEER|  85000|
|        SALES|  75000|
|     SOFTWARE|  85000|
|           HR|  65000|
+-------------+-------+

In [0]:
df2 = df.join(df1,df.dept_name==df1.dept_name,'left')

In [0]:
df2.filter(col('salary')==col('max_sal')).show()

+--------+-------+------+-------+-------------+-------------+-------+
|emp_name|dept_id|salary|dept_id|    dept_name|    dept_name|max_sal|
+--------+-------+------+-------+-------------+-------------+-------+
|  Raghav|      1| 85000|      1|DATA ENGINEER|DATA ENGINEER|  85000|
|   rohit|      2| 75000|      2|        SALES|        SALES|  75000|
|  jadeja|      3| 85000|      3|     SOFTWARE|     SOFTWARE|  85000|
|  bumrah|      4| 65000|      4|           HR|           HR|  65000|
+--------+-------+------+-------+-------------+-------------+-------+

In [0]:
from pyspark.sql.functions import *
df5 = emp_df.join(dept_df,emp_df.dept_id==dept_df.dept_id,'left')
df.groupBy("dept_name").agg(min("salary").alias('min_sal')).show()

+-------------+-------+
|    dept_name|min_sal|
+-------------+-------+
|DATA ENGINEER|  75000|
|        SALES|  70000|
|     SOFTWARE|  55000|
|           HR|  60000|
+-------------+-------+

In [0]:
df6 = df.groupBy("dept_name").agg(min("salary").alias('min_sal'))
df6.show()

+-------------+-------+
|    dept_name|min_sal|
+-------------+-------+
|DATA ENGINEER|  75000|
|        SALES|  70000|
|     SOFTWARE|  55000|
|           HR|  60000|
+-------------+-------+

In [0]:
df7 = df.join(df6,df.dept_name==df1.dept_name,'left')

In [0]:
df7.filter(col('salary')==col('min_sal')).show()

+--------+-------+------+-------+-------------+-------------+-------+
|emp_name|dept_id|salary|dept_id|    dept_name|    dept_name|min_sal|
+--------+-------+------+-------+-------------+-------------+-------+
|  Manish|      1| 75000|      1|DATA ENGINEER|DATA ENGINEER|  75000|
|   virat|      2| 70000|      2|        SALES|        SALES|  70000|
|    anil|      3| 55000|      3|     SOFTWARE|     SOFTWARE|  55000|
|  sachin|      3| 55000|      3|     SOFTWARE|     SOFTWARE|  55000|
|   zahir|      4| 60000|      4|           HR|           HR|  60000|
+--------+-------+------+-------+-------------+-------------+-------+