 /FileStore/tables/emp_1-1.csv

In [0]:
df = spark.read.csv("/FileStore/tables/emp_1-1.csv", header=True,inferSchema=True)

In [0]:
df.show()

+------+------+------+-------+----+-----+
|emp_id|  name|salary|address| loc|email|
+------+------+------+-------+----+-----+
|     1|manish| 10000|  india|null| null|
|     2|  rani| 20000|    usa|null| null|
|     3| rinku| 55000|  india|null| null|
|     4|  neha| 12000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     6| rahul|  null|  india|null| null|
|     1|manish| 10000|  india|null| null|
|     2|  rani| 20000|    usa|null| null|
|     3| rinku| 55000|  india|null| null|
|     4|  neha| 12000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     6| rahul|  null|  india|null| null|
+------+------+------+-------+----+-----+

In [0]:
df.select("emp_id","salary").show()

+------+------+
|emp_id|salary|
+------+------+
|     1| 10000|
|     2| 20000|
|     3| 55000|
|     4| 12000|
|     5| 20000|
|     6|  null|
|     1| 10000|
|     2| 20000|
|     3| 55000|
|     4| 12000|
|     5| 20000|
|     6|  null|
+------+------+

In [0]:
df.select(df.emp_id,df.salary).show()

+------+------+
|emp_id|salary|
+------+------+
|     1| 10000|
|     2| 20000|
|     3| 55000|
|     4| 12000|
|     5| 20000|
|     6|  null|
|     1| 10000|
|     2| 20000|
|     3| 55000|
|     4| 12000|
|     5| 20000|
|     6|  null|
+------+------+

In [0]:
df.select(df.columns[1:4]).show()

+------+------+-------+
|  name|salary|address|
+------+------+-------+
|manish| 10000|  india|
|  rani| 20000|    usa|
| rinku| 55000|  india|
|  neha| 12000|    usa|
|  null| 20000|    usa|
| rahul|  null|  india|
|manish| 10000|  india|
|  rani| 20000|    usa|
| rinku| 55000|  india|
|  neha| 12000|    usa|
|  null| 20000|    usa|
| rahul|  null|  india|
+------+------+-------+

In [0]:
df.withColumn("salary",df.salary*10).show()

+------+------+------+-------+----+-----+
|emp_id|  name|salary|address| loc|email|
+------+------+------+-------+----+-----+
|     1|manish|100000|  india|null| null|
|     2|  rani|200000|    usa|null| null|
|     3| rinku|550000|  india|null| null|
|     4|  neha|120000|    usa|null| null|
|     5|  null|200000|    usa|null| null|
|     6| rahul|  null|  india|null| null|
|     1|manish|100000|  india|null| null|
|     2|  rani|200000|    usa|null| null|
|     3| rinku|550000|  india|null| null|
|     4|  neha|120000|    usa|null| null|
|     5|  null|200000|    usa|null| null|
|     6| rahul|  null|  india|null| null|
+------+------+------+-------+----+-----+

In [0]:
from pyspark.sql.functions import lit

df.withColumn("country",lit("usa")).show()

+------+------+------+-------+----+-----+-------+
|emp_id|  name|salary|address| loc|email|country|
+------+------+------+-------+----+-----+-------+
|     1|manish| 10000|  india|null| null|    usa|
|     2|  rani| 20000|    usa|null| null|    usa|
|     3| rinku| 55000|  india|null| null|    usa|
|     4|  neha| 12000|    usa|null| null|    usa|
|     5|  null| 20000|    usa|null| null|    usa|
|     6| rahul|  null|  india|null| null|    usa|
|     1|manish| 10000|  india|null| null|    usa|
|     2|  rani| 20000|    usa|null| null|    usa|
|     3| rinku| 55000|  india|null| null|    usa|
|     4|  neha| 12000|    usa|null| null|    usa|
|     5|  null| 20000|    usa|null| null|    usa|
|     6| rahul|  null|  india|null| null|    usa|
+------+------+------+-------+----+-----+-------+

In [0]:
df.withColumn("increment",lit("0")).show()

+------+------+------+-------+----+-----+---------+
|emp_id|  name|salary|address| loc|email|increment|
+------+------+------+-------+----+-----+---------+
|     1|manish| 10000|  india|null| null|        0|
|     2|  rani| 20000|    usa|null| null|        0|
|     3| rinku| 55000|  india|null| null|        0|
|     4|  neha| 12000|    usa|null| null|        0|
|     5|  null| 20000|    usa|null| null|        0|
|     6| rahul|  null|  india|null| null|        0|
|     1|manish| 10000|  india|null| null|        0|
|     2|  rani| 20000|    usa|null| null|        0|
|     3| rinku| 55000|  india|null| null|        0|
|     4|  neha| 12000|    usa|null| null|        0|
|     5|  null| 20000|    usa|null| null|        0|
|     6| rahul|  null|  india|null| null|        0|
+------+------+------+-------+----+-----+---------+

In [0]:
df.printSchema()

root
 |-- emp_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- address: string (nullable = true)
 |-- loc: string (nullable = true)
 |-- email: string (nullable = true)

In [0]:
from pyspark.sql.functions import col
df1 = df.withColumn("salary",col("salary").cast("integer"))

In [0]:
df1.show()

+------+------+------+-------+----+-----+
|emp_id|  name|salary|address| loc|email|
+------+------+------+-------+----+-----+
|     1|manish| 10000|  india|null| null|
|     2|  rani| 20000|    usa|null| null|
|     3| rinku| 55000|  india|null| null|
|     4|  neha| 12000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     6| rahul|  null|  india|null| null|
|     1|manish| 10000|  india|null| null|
|     2|  rani| 20000|    usa|null| null|
|     3| rinku| 55000|  india|null| null|
|     4|  neha| 12000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     6| rahul|  null|  india|null| null|
+------+------+------+-------+----+-----+

In [0]:
df1.printSchema()

root
 |-- emp_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- address: string (nullable = true)
 |-- loc: string (nullable = true)
 |-- email: string (nullable = true)

In [0]:
df.withColumnRenamed("loc","location").show()

+------+------+------+-------+--------+-----+
|emp_id|  name|salary|address|location|email|
+------+------+------+-------+--------+-----+
|     1|manish| 10000|  india|    null| null|
|     2|  rani| 20000|    usa|    null| null|
|     3| rinku| 55000|  india|    null| null|
|     4|  neha| 12000|    usa|    null| null|
|     5|  null| 20000|    usa|    null| null|
|     6| rahul|  null|  india|    null| null|
|     1|manish| 10000|  india|    null| null|
|     2|  rani| 20000|    usa|    null| null|
|     3| rinku| 55000|  india|    null| null|
|     4|  neha| 12000|    usa|    null| null|
|     5|  null| 20000|    usa|    null| null|
|     6| rahul|  null|  india|    null| null|
+------+------+------+-------+--------+-----+