/FileStore/tables/department.csv
/FileStore/tables/employee.csv

/FileStore/tables/department_1-1.csv

/FileStore/tables/department_1.csv

In [0]:
emp_df=spark.read.csv("/FileStore/tables/employee.csv",header=True,inferSchema=True)
emp_df.show()

+------+------+------+-----+
|emp_id|  name|salary|  loc|
+------+------+------+-----+
|     1|manish| 20000|india|
|     2|  hari|  5000|   UK|
|     3| rahul| 10000|india|
|     4|   nil| 20000|india|
|     5|   sil| 24000|   UK|
|     6|  neha| 17000|   UK|
+------+------+------+-----+

In [0]:
dept_df=spark.read.csv("/FileStore/tables/department_1-1.csv",header=True,inferSchema=True)
dept_df.show()

+----+----------+------------+
|user|department| designation|
+----+----------+------------+
|   1|        it|   software |
|   2|     sales|data analyst|
|   3|     other|     trainer|
|   4|        it|data analyst|
|   7|     sales|   marketing|
|   8|        it|data analyst|
+----+----------+------------+

In [0]:
emp_df.join(dept_df,emp_df.emp_id==dept_df.user,"inner").show()

+------+------+------+-----+----+----------+------------+
|emp_id|  name|salary|  loc|user|department| designation|
+------+------+------+-----+----+----------+------------+
|     1|manish| 20000|india|   1|        it|   software |
|     2|  hari|  5000|   UK|   2|     sales|data analyst|
|     3| rahul| 10000|india|   3|     other|     trainer|
|     4|   nil| 20000|india|   4|        it|data analyst|
+------+------+------+-----+----+----------+------------+

In [0]:
emp_df.join(dept_df,emp_df.emp_id==dept_df.user,'left').show()

+------+------+------+-----+----+----------+------------+
|emp_id|  name|salary|  loc|user|department| designation|
+------+------+------+-----+----+----------+------------+
|     1|manish| 20000|india|   1|        it|   software |
|     2|  hari|  5000|   UK|   2|     sales|data analyst|
|     3| rahul| 10000|india|   3|     other|     trainer|
|     4|   nil| 20000|india|   4|        it|data analyst|
|     5|   sil| 24000|   UK|null|      null|        null|
|     6|  neha| 17000|   UK|null|      null|        null|
+------+------+------+-----+----+----------+------------+

In [0]:
emp_df.join(dept_df,emp_df.emp_id==dept_df.user,'right').show()

+------+------+------+-----+----+----------+------------+
|emp_id|  name|salary|  loc|user|department| designation|
+------+------+------+-----+----+----------+------------+
|     1|manish| 20000|india|   1|        it|   software |
|     2|  hari|  5000|   UK|   2|     sales|data analyst|
|     3| rahul| 10000|india|   3|     other|     trainer|
|     4|   nil| 20000|india|   4|        it|data analyst|
|  null|  null|  null| null|   7|     sales|   marketing|
|  null|  null|  null| null|   8|        it|data analyst|
+------+------+------+-----+----+----------+------------+

In [0]:
emp_df.join(dept_df,emp_df.emp_id==dept_df.user,'fullouter').show()

+------+------+------+-----+----+----------+------------+
|emp_id|  name|salary|  loc|user|department| designation|
+------+------+------+-----+----+----------+------------+
|     1|manish| 20000|india|   1|        it|   software |
|     2|  hari|  5000|   UK|   2|     sales|data analyst|
|     3| rahul| 10000|india|   3|     other|     trainer|
|     4|   nil| 20000|india|   4|        it|data analyst|
|     5|   sil| 24000|   UK|null|      null|        null|
|     6|  neha| 17000|   UK|null|      null|        null|
|  null|  null|  null| null|   7|     sales|   marketing|
|  null|  null|  null| null|   8|        it|data analyst|
+------+------+------+-----+----+----------+------------+

In [0]:
emp_df.join(dept_df,emp_df.emp_id==dept_df.user,'leftsemi').show()

+------+------+------+-----+
|emp_id|  name|salary|  loc|
+------+------+------+-----+
|     1|manish| 20000|india|
|     2|  hari|  5000|   UK|
|     3| rahul| 10000|india|
|     4|   nil| 20000|india|
+------+------+------+-----+

In [0]:
emp_df.join(dept_df,emp_df.emp_id==dept_df.user,'leftanti').show()

+------+----+------+---+
|emp_id|name|salary|loc|
+------+----+------+---+
|     5| sil| 24000| UK|
|     6|neha| 17000| UK|
+------+----+------+---+

In [0]:
dept_df.join(emp_df,dept_df.user==emp_df.emp_id,'Anti').show()

+----+----------+------------+
|user|department| designation|
+----+----------+------------+
|   7|     sales|   marketing|
|   8|        it|data analyst|
+----+----------+------------+