In [0]:
data = [("Banana",1000,"USA"),("Carrots",1500,"USA"),("Beans",1600,"USA"),("Orange",2000,"USA"), \
        ("Orange",2000,"USA"),("Banana",400,"Germany"),("Carrots",1500,"Germany"),("Beans",4000,"Germany"), \
        ("Orange",1200,"Germany"),("Banana",2000,"Russia"),("Carrots",2000,"Russia"),("Beans",2000,"Mexico") ]


columns = ["Product","Amount","Country"]

df = spark.createDataFrame(data,columns)
df.show()

+-------+------+-------+
|Product|Amount|Country|
+-------+------+-------+
| Banana|  1000|    USA|
|Carrots|  1500|    USA|
|  Beans|  1600|    USA|
| Orange|  2000|    USA|
| Orange|  2000|    USA|
| Banana|   400|Germany|
|Carrots|  1500|Germany|
|  Beans|  4000|Germany|
| Orange|  1200|Germany|
| Banana|  2000| Russia|
|Carrots|  2000| Russia|
|  Beans|  2000| Mexico|
+-------+------+-------+

In [0]:
df.groupBy("Product").pivot("Country").sum("Amount").show()

+-------+-------+------+------+----+
|Product|Germany|Mexico|Russia| USA|
+-------+-------+------+------+----+
| Orange|   1200|  null|  null|4000|
|  Beans|   4000|  2000|  null|1600|
| Banana|    400|  null|  2000|1000|
|Carrots|   1500|  null|  2000|1500|
+-------+-------+------+------+----+

In [0]:
df1=df.groupBy("Product").pivot("Country").sum("Amount")

In [0]:
df1.show()

+-------+-------+------+------+----+
|Product|Germany|Mexico|Russia| USA|
+-------+-------+------+------+----+
| Orange|   1200|  null|  null|4000|
|  Beans|   4000|  2000|  null|1600|
| Banana|    400|  null|  2000|1000|
|Carrots|   1500|  null|  2000|1500|
+-------+-------+------+------+----+

In [0]:
from pyspark.sql.functions import expr
df1.select("product",expr("stack(4,'Germany',Germany,'Mexico',Mexico,'Russia',Russia,'USA',USA) as (country,total)")).show()

+-------+-------+-----+
|product|country|total|
+-------+-------+-----+
| Orange|Germany| 1200|
| Orange| Mexico| null|
| Orange| Russia| null|
| Orange|    USA| 4000|
|  Beans|Germany| 4000|
|  Beans| Mexico| 2000|
|  Beans| Russia| null|
|  Beans|    USA| 1600|
| Banana|Germany|  400|
| Banana| Mexico| null|
| Banana| Russia| 2000|
| Banana|    USA| 1000|
|Carrots|Germany| 1500|
|Carrots| Mexico| null|
|Carrots| Russia| 2000|
|Carrots|    USA| 1500|
+-------+-------+-----+